
<table class="tx-op-manager" >
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.name" />
		</td>
		<td>
		{occupation.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.image" />
		</td>
		<td>
				<f:image src="{occupation.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.image_caption" />
		</td>
		<td>
		{occupation.imageCaption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.introduction" />
		</td>
		<td>
		{occupation.introduction}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.description" />
		</td>
		<td>
		{occupation.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.description2" />
		</td>
		<td>
		{occupation.description2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.description3" />
		</td>
		<td>
		{occupation.description3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.rating" />
		</td>
		<td>
		{occupation.rating}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_occupation.opportunities" />
		</td>
		<td>
		{occupation.opportunities}
		</td>
	</tr>
</table>