
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
<h1>Categories</h1>
<f:flashMessages renderMode="div" />
<f:form actionUri="<f:uri.action noCacheHash=\"1\"/>" method="post">
	<f:for each="{categories}" as="category">
		<label for="category-{category.uid}">
			<f:form.checkbox name="categories[]" value="{category.uid}" id="category-{category.uid}" checked="{category.checked}"/> {v.znNameEn}{category.title}
		</label><br/>
	</f:for>
	<f:form.submit value="Filter"/>
</f:form>
</f:section>