
<table class="tx-op-manager" >
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.name" />
		</td>
		<td>
		{company.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.description" />
		</td>
		<td>
		{company.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.description2" />
		</td>
		<td>
		{company.description2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.description3" />
		</td>
		<td>
		{company.description3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.logo" />
		</td>
		<td>
				<f:image src="{company.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.photo" />
		</td>
		<td>
				<f:image src="{company.photo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.photo_caption" />
		</td>
		<td>
		{company.photoCaption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.street" />
		</td>
		<td>
		{company.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.postal_code" />
		</td>
		<td>
		{company.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.city" />
		</td>
		<td>
		{company.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.telephone" />
		</td>
		<td>
		{company.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.telephone2" />
		</td>
		<td>
		{company.telephone2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.fax" />
		</td>
		<td>
		{company.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.website" />
		</td>
		<td>
		{company.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.email" />
		</td>
		<td>
		{company.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.contact_person_name" />
		</td>
		<td>
		{company.contactPersonName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.contact_person_telephone" />
		</td>
		<td>
		{company.contactPersonTelephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.contact_person_email" />
		</td>
		<td>
		{company.contactPersonEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.contact_person_fax" />
		</td>
		<td>
		{company.contactPersonFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_opmanager_domain_model_company.internships" />
		</td>
		<td>
		{company.internships}
		</td>
	</tr>
</table>