
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Hompage for Company</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_opmanager" >
	<tr>
		<th><f:translate key="tx_opmanager_domain_model_company.name" /></th>
		<th><f:translate key="tx_opmanager_domain_model_company.logo" /></th>
		<th><f:translate key="tx_opmanager_domain_model_company.job_vacancies" /></th>
		<th><f:translate key="tx_opmanager_domain_model_company.internships" /></th>
	</tr>
	<f:for each="{companies}" as="company">
		<tr>
			<td><f:link.action action="show" arguments="{company : company}" noCacheHash="1">{company.name}</f:link.action></td>
			<td>
				<f:if condition="{company.logo.originalResource}">
					<f:image src="{company.logo.uid}" maxWidth="60" maxHeight="60" alt="{company.name}" />
				</f:if>
			</td>
			<td>
				<f:for each="{company.jobVacancies}" as="jobVacancy">
					{jobVacancy.occupation.name}: {jobVacancy.vacancies}<br />
				</f:for>
			</td>
			<td>{company.internships}</td>
		</tr>
	</f:for>
</table>
</f:section>