
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Company</h1>

<f:flashMessages renderMode="div" />

<ul class="tx_opmanager" >
<f:widget.paginate objects="{companies}" as="paginatedCompanies"  configuration="{itemsPerPage: 3, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
<f:for each="{paginatedCompanies}" as="company">
	<li>
		<h2>
			<f:link.action action="show" arguments="{company : company}" noCacheHash="1">{company.name}</f:link.action>
		</h2>
		<span>
		<f:if condition="{company.logo.originalResource}">
			<f:image src="{company.logo.uid}" maxWidth="200" maxHeight="150" alt="{company.name}" />
		</f:if>
		</span>
	</li>
</f:for>
</f:widget.paginate>
</ul>
</f:section>